<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="opencv2_cookbook.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="opencv2_cookbook.android.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="opencv2_cookbook.android.chapter01.Ex1MyFirstOpenCVApp" >
        </activity>
        <activity android:name="opencv2_cookbook.android.chapter01.Ex2MyFirstGUIApp" >
        </activity>
        <activity android:name="opencv2_cookbook.android.chapter02.Ex1Salt" >
        </activity>
        <activity android:name="opencv2_cookbook.android.chapter02.Ex2ColorReduce" >
        </activity>
        <activity android:name="opencv2_cookbook.android.chapter02.Ex3Sharpen" >
        </activity>
        <activity android:name="opencv2_cookbook.android.chapter02.Ex4BlendImages" >
        </activity>
        <activity android:name="opencv2_cookbook.android.chapter02.Ex5ROILogo" >
        </activity>
    </application>

</manifest>